<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="style.css" rel="game-home-page.css">
    <title>🌎 WordGuessr</title>

</head>
<body class="min-h-screen bg-gradient-to-r from-slate-50 to-indigo-100">
    <h1 class="flex text-2xl sm:whitespace-nowrap justify-center text-5xl ps-10  my-6 leading-10 font-sans font-bold bg-gradient-to-t from-rose-300 to-indigo-600 bg-clip-text text-transparent"> 🖥️ Guess the word </h1>

    <h2 class="flex justify-center text-2xl ps-8 mx-4 leading-10 font-serif truncate" th:text="${wordToDisplay}">
    Show me a random word here</h2>

    <h2 class="flex justify-end mx-6 my-2 font-bold " th:text="'Tries Remaining : '  + ${triesLeft}"></h2>
    <!-- th represents the prefix of thymeleaf that we need to declare for an thymeleaf actions-->
    
    <script th:inline="javascript">
        
        // Game Over Modal functions
        function showModal(){
            const modal = document.getElementById('gameOverModal');
            modal.classList.remove('hidden');
        }

        window.onload = function checkIfGameOver(){
            const numberOfTriesRemaining = [[${triesLeft}]];
            if(numberOfTriesRemaining === 0){
                showModal();
                alert("GAME OVER");
                document.getElementById('guessedChar').disabled = true;
                document.getElementById('Play').disabled = true;
                
                //document.querySelector('#Play').disabled = true;
            }
            
        }
        
       

        function reloadGame(){

            window.location.href = "http://localhost:8080/reload";
        }

       
        function userRestrictions(input,event){
            // Limit the user characters to 1
            if(input.value.length > 1) {
                input.value = input.value.slice(0, 1);
            }
            if(/[a-z]/.test(input.value)){
                // Show the error message
                callError(false);
                // Replace letter that aren't from a to z and in lowercase
                input.value = input.value.replace(/[^a-z]/g, '');
            }else{
                callError(true);
            }}
        
            function callError(showError, showSecondError){

                const errorMessage = document.getElementById('error-message');

                if(showError){
                    // Display the error message
                    errorMessage.classList.remove('hidden');
                    errorMessage.classList.add('block');
                }else{
                    errorMessage.classList.remove('block');
                    errorMessage.classList.add('hidden');
                }
            }



      
    </script>
<hr/>

    <div class="flex sm:flex-row justify-center items-center sm:space-x-2 space-x-2 py-6">
        <form action="game-home" method="GET" class="flex flex-col sm:flex-row justify-center items-center space-y-2 sm:space-y-0 sm:space-x-2">
            <label class="flex my-2 mb-4 font-serif text-2xl bg-gradient-to-t from-rose-800 to-indigo-600 bg-clip-text text-transparent"> Enter the letters </label>
            <input type="text" name="guessedChar" class="border border-black mx-2" id="guessedChar" oninput="userRestrictions(this)" />
                <span id="error-message" class="hidden text-red-500 text-sm">Please enter lowercase letters only.</span>
                
        <div>
                <input type="submit" value="Play" onclick="checkIfGameOver();" id="Play" class=" Play sm:flex-row bg-blue-500 hover:bg-blue-200 text-white font-bold py-2 px-4 rounded cursor-pointer">
                <input type="button" value="reload" id="reload" class=" sm: flex-row bg-green-800 hover:bg-green-500 text-white font-bold py-2 px-4 rounded cursor-pointer" onclick="reloadGame();">
        </form>
        </div> 
        <!-- Game Over Modal-->

    <div id="gameOverModal" class="fixed flex items-center justify-center w-full h-full bg-opacity-50 z-10 hidden">
        <div class="bg-gradient-to-r from-slate-50 to-indigo-100 p-6 rounded-lg shadow-lg w-1/3 h-1/3  flex flex-col justify-between items-center sm:w-full sm:items-center sm: lg:w-1/3 lg:h-1/3 ">
            <div class="flex-grow flex items-center justify-center">
                <h3 class="text-4xl font-bold bg-gradient-to-t from-rose-50 to-indigo-600 bg-clip-text text-transparent sm:text-4xl sm:justify-center sm:items-center">GAME OVER</h3>
            </div>
            <div class="flex justify-end w-full">
                <button id="closeModal" class=" text-red-600 font-bold antialiased hover:text-stone-500">
                    CLOSE
                </button>
            </div>
        </div>
    </div>
        
   <script>
         // Hide the modal
        function toggleModal (selector) {

                document.getElementById(selector).classList.toggle('hidden');
        }

        closeModal.addEventListener('click', () => toggleModal('gameOverModal'));

   </script>
</body>
</html>