<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>WordGuessr</title>
</head>
<body>
    <h1 class="flex justify-center text-2xl ps-8 mx-4 leading-10 font-sans font-bold truncate">Guess the world</h1>
    <h2 class="flex justify-center text-2xl ps-8 mx-4 leading-10 font-serif truncate">Show me a random word here</h2>
<hr/>
</body>
</html>