<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>WordGuessr</title>
    <link rel="stylesheet" href="/game-home-page.css">
</head>
<body class="min-h-screen bg-gradient-to-b from-slate-50 to-zinc-700">
    <h1 class="flex justify-center text-5xl ps-10 mx-4 my-6 leading-10 font-sans font-bold bg-gradient-to-t from-rose-300 to-indigo-600 bg-clip-text text-transparent">Guess the world</h1>

    <h2 class="flex justify-center text-2xl ps-8 mx-4 leading-10 font-serif truncate" th:text="${wordToDisplay}">
    Show me a random word here
    </h2>
    <!-- th represents the prefix of thymeleaf that we need to declare for an thymeleaf actions-->
<hr/>

    <div class="flex flex-col sm:flex-row justify-center items-center sm:space-x-2 space-y-2 sm:space-y-0 py-6">
        <form action="game-home" method="GET" class="flex flex-col sm:flex-row justify-center items-center space-y-2 sm:space-y-0 sm:space-x-2">
            <label class="flex my-2 mb-4font-serif text-2xl bg-gradient-to-t from-rose-800 to-indigo-600 bg-clip-text text-transparent"> Enter the letters </label>
            <input type="text" name="guessedChar" class="border border-black mx-2" />
            <input type="submit" value="Play" class="bg-blue-500 hover:bg-blue-200 text-white font-bold py-1 px-4 rounded cursor-pointer">
        </form>
    </div>
    
  
</body>
</html>